@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e7eef1;
}

*:focus {
  outline: none;
}

.portfolio-table {
  border-collapse: separate;
  border-spacing: 0;

  td {
    padding: 2rem 1.5rem;

    &:first-child {
      padding: 0;
      padding-left: 1.5rem;
    }
  }

  // tr:first-child td:first-child {
  //   border-top-left-radius: 10px;
  //   background-color: aqua;
  // }

  // tr:first-child td:last-child {
  //   border-top-right-radius: 10px;
  // }

  // tr:last-child td:first-child {
  //   border-bottom-left-radius: 10px;
  // }
  // tr:last-child td:last-child {
  //   border-bottom-right-radius: 10px;
  // }

  tr:first-child td {
    border-top-style: solid;
  }
  tr td:first-child {
    border-left-style: solid;
  }

  th {
    padding: 1rem 1rem;
  }
}
